{% extends "base/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body %}
<article class="container">
    <h1>{% trans "Forgotten your password?" %}</h1>

    {% blocktrans %}
    If you've forgotten your password, don't worry. You can use the simple form
    below to reset your password. Alternatively, you can
    <a href="mailto:support@mypebble.co.uk">contact the Pebble team</a>.
    {% endblocktrans %}

    <form method="POST" class="form-inline">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_email">{% trans "Your email address:" %}</label>
            {% render_field form.email type="email" required="required" class="form-control" placeholder="me@myschool.gov.uk" %}
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                {% trans "Send Reset Email" %}
            </button>
        </div>


    </form>
</article>
{% endblock body %}
