{% extends "base/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body %}

<article class="container">
    {% if validlink %}
    <h1>{% trans "Set Password" %}</h1>

    <form class="form-horizontal">
        {% trans "Please enter a new password" %}
        <div class="form-group">
            <label class="col-md-1 control-label" for="id_password1">
                {{ form.password1.label }}
            </label>
            <div class="col-md-3">
                {% render_field form.password1 class="form-control" required="required" %}
            </div>
            <label class="col-md-1 control-label" for="id_password2">
                {{ form.password2.label }}
            </label>
            <div class="col-md-3">
                {% render_field form.password2 class="form-control" required="required" %}
            </div>
        </div>

        <button class="btn btn-primary">{% trans "Set Password" %}</button>
    </form>

    {% else %}
    <h1>{% trans "Invalid Link" %}</h1>
    <p>
    {% blocktrans %}
    The link that you entered is not a valid password reset link.
    If you need to reset your password, please use the
    {% endblocktrans %}<a href="{% url "password-reset" %}">password reset</a>.
    </p>
    {% endif %}
</article>
{% endblock body %}
